# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local artifacts (do not commit)
/static_backup/
/server.log
/home.html
